<div id="login-box">
    <div class="left">
      <h1>Sign up</h1>
      <input type="text" name = "name" placeholder="Name" [(ngModel)] = "name">
      <input type="text" name="username" placeholder="Username (keep this in mind)" [(ngModel)] = "username"/>
      <input type="text" name="email" placeholder="E-mail" [(ngModel)]="email" (keydown.tab) = getUserToCheckPass(username)/>
      <input type="password" name="password" placeholder="Password" [(ngModel)] = "password" (click)="getUserToCheckPass(username)"/>
      <input type="password" name="password2" placeholder="Retype password" [(ngModel)] = "confirmPassword" (click) = "checkIfUsernameExists(username)"/>
      <input type="submit" name="signup_submit" value="Sign me up" (click) = submit(user)/>
   
    </div>
    
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
  </div>