<div id="login-box">
    <div class="left">
      <h1>Change Password</h1>
      <input type="text" name="username" placeholder="Username" [(ngModel)] = "username" (keydown.tab) = bringUser()/>
      <input type="password" name="password2" placeholder="Old password" [(ngModel)] = "oldPass" (click) = "bringUser()"/>
      <input type="password" name="password" placeholder="Password" [(ngModel)] = "password" />
      <input type="password" name="password2" placeholder="Retype password" [(ngModel)] = "confirmPass"/>
      <input type="submit" name="signup_submit" value="Change password" (click)="done()"/>
   
    </div>
  </div>
