<nav class="navbar">
    <div class="container">
  
      <div class="navbar-header">
        <button class="navbar-toggler" data-toggle="open-navbar1">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
  
      <div class="navbar-menu" id="open-navbar1">
        <ul class="navbar-nav">
         
          <li (click) = "changePass()"><a>Change Password</a></li>
          <li (click) = "logOut()"><a>Log out</a></li>
          <li (click) =  "chart()"><a>Cart</a></li>
          <li (click) = "delete()"><a>Delete current user</a></li>
        </ul>
      </div>
    </div>
  </nav>
