<div>
    Aceasta aplicatie a fost realizata utilizand .NET framework 6 impreuna cu Angular Framework 13
    <br>
    Site-ul are in spate o baza de date implementata cu ajutorul Entity framework, dupa modelul 'code first database'
    <br>
    Aceasta aplicatie isi propune un mic tur intr-un magazin virtual.
    <br>
    Principalele feature-uri sunt: login, register, posibilitatea de a naviga printre anumite produse definite in baza de date cat si editarea datelor de utilizator
    <br>

</div>

