<nav class="navbar">
    <div class="container">
  
      <div class="navbar-header">
        <button class="navbar-toggler" data-toggle="open-navbar1">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <a href="#">
          <h4>Awesome<span>logo</span></h4>
        </a>
      </div>
  
      <div class="navbar-menu" id="open-navbar1">
        <ul class="navbar-nav">
          <li class="active" (click) = "home()"><a>Home</a></li>
          
          <li (click) = "about()"><a>About</a></li>
          <li (click) = "login()"><a>Login</a></li>
          <li (click) = "register()"><a>Register</a></li>
        </ul>
      </div>
    </div>
  </nav>