<div  class = "top">
Total Price: {{totalPrice}} $
</div>
<button class = "checkoutbtn" (click) = checkout()>Checkout</button>

<div class = "cards_div" >
    <ul class="cards">
        <li class="cards__item"
        *ngFor = "let p of productsList">
          <div class="card">
            <div class="card__image card__image--fence"></div>
            <div class="card__content">
              <div class="card__title">{{p.name}}</div>
              <p class="card__text">Pret: {{p.price}}$</p>
              <p class="card__text">Brand: {{p.brand.name}}</p>
              <p class="card__text">This item has no description yet because this app is still in development mode. Check further version of the app. Description should appear in one of the future releases </p>
            </div>
           </div>
    </ul>
</div>
